body {

}

.face {
    background-color: lightblue;
    border: 5px solid black;
    height: 360px;
    width: 200px;
}

.screen {
    background-color: lightgray;
    border: 2px solid black;
    height: 20px;
    margin: 5px;
}

.button {
    font-size: 10px;
    margin: 5px;
}